body {
	font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	padding-top: 54px;

}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
	font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

h1 {
	font-size: 6rem;
	line-height: 5.5rem;
}

h2 {
	font-size: 3.5rem;
}

h3 {
	font-size: 2rem;
}


section.resume-section {
	padding-top: 5rem;
	padding-bottom: 5rem;
	max-width: 75rem;
}

section.resume-section .resume-item .resume-date{ 
	min-width: none;
 }

.subheading {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.5rem;
	font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.resume-time {

}

.bg-main {
	background-color: #239c91;	
}

.text-main {
	color: #239C91;
}

a {
	color: #239C91;
}

a:hover, a:focus, a:active {
	color: #239C91;	
}

button:hover {

}