#container {
	margin: 0 auto;
	width: 500px;
}

h1 {
	font-weight: normal;
	text-align: center;
	color: white;
	display: inline;
}

li {
	list-style-type: none;
}
.contact{
	display: inline;
}

body {
	background: gray;
}

#main-image {
	width: 500px;
}

.topic {
	font-weight: bold;
}