body {
	font-family: Roboto;
}

h1 {
	background: #2980B9;
	color: white;
	margin: 0;
	font-weight: normal;
	font-size: 24px;
	padding: 10px 20px;
	text-transform: uppercase;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	background: white;
	height: 40px;
	line-height: 40px;
	color: #666;

}

li:nth-child(2n){
	background: #F7F7F7;
}

input {
	font-size: 18px;
	background: #F7F7F7;
	color: #2980B9;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
}

input:focus{
	background: white;
	border: 3px solid #2980B9;
	outline: none;
}

#container {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	width: 360px;
	margin: 100px auto;
	background: #F7F7F7;
}

.completed {
	color: gray;
	text-decoration: line-through;
}